@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

:root {
  /* BACKGROUND LEVEL */
  --bg-page:#0E0E11;   
  --bg-header:#15151C;  
  --bg-card:#1B1B23;  
  --bg-item:#23232E;  

  /* PRIMARY */
  --primary:#F97316;  
  --primary-hover:#FB923C;

  /* TEXT */
  --text-main:#F5F7FA;
  --text-muted: #9CA3AF;

  /* STATUS */
  --success: #22C55E; 
  --warning: #EAB308; 
}

/* FullScreenLoader */


.fullscreen-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0E0E11;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  gap: 1rem; 
  z-index: 9999;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.1); 
  border-top: 4px solid #F97316; 
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 0.8s linear infinite; 
}

.loading-text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.875rem;
  font-weight: 500;
  margin-top: 0.5rem;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}