@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

:root {
  /* BACKGROUND LEVEL */
  --bg-page: #070F2B;    
  --bg-header: #0B1340;   
  --bg-card: #0E1649;     
  --bg-item: #121D5E;     

  /* PRIMARY */
  --primary: #535C91;
  --primary-hover: #6B74B5;

  /* TEXT */
  --text-main: #F8FAFF;
  --text-muted: #A3AED0;

  /* STATUS */
  --success: #22C55E;
  --warning: #FACC15;
}
