@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

:root {
  /* BACKGROUND LEVEL */
  --bg-page:#0E0E11;   
  --bg-header:#15151C;  
  --bg-card:#1B1B23;  
  --bg-item:#23232E;  

  /* PRIMARY */
  --primary:#F97316;  
  --primary-hover:#FB923C;

  /* TEXT */
  --text-main:#F5F7FA;
  --text-muted: #9CA3AF;

  /* STATUS */
  --success: #22C55E; 
  --warning: #EAB308; 
}